.title-cov{
    background-color: #111111;
    padding: 8em;
}

.title{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15em;
    line-height: 0.95em;
    text-align: center;
}

@media screen and (max-width: 1450px) {
    .title{
        font-size: 13em;
    }
}

@media screen and (max-width: 830px) {
    .title{
        font-size: 10em;
    }
}

@media screen and (max-width: 690px) {
    .title{
        font-size: 9em;
    }
}

@media screen and (max-width: 490px) {
    .title{
        font-size: 8em;
    }
}

@media screen and (max-width: 380px) {
    .title{
        font-size: 7em;
    }
}