.title{
    background-color: #111111;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25vh;
    height: 50vh;
    line-height: 0.85em;
    text-align: center;
}

@media screen and (max-width: 1450px) {
    .title{
        font-size: 20vh;
    }
}

@media screen and (max-width: 690px) {
    .title{
        font-size: 14vh;
    }
}

@media screen and (max-width: 491px) {
    .title{
        font-size: 10.5vh;
    }
}

@media screen and (max-width: 380px) {
    .title{
        font-size: 10vh;
    }
}