footer{
    color: aliceblue;
    background: #111111;
    padding-bottom: 2em;
    padding-top: 12em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 5em;
}

.footer-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-h3{
    font-size: 1.3em;
}

.footer-nav{
    display: flex;
    gap: 1.5em;
    font-size: 1.3em;
}

.footer-a{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

@media screen and (max-width:1090px) {
    .footer-h3{
        font-size: 1.1em
    }
    .footer-nav{
        font-size: 1.1em;
    }
}

@media screen and (max-width:768px) {
    .footer-nav{
        gap: 1em;
    }
    footer{
        padding-bottom: 1em;
    }
}

@media screen and (max-width:510px) {
    footer{
        gap: 2em;
    }
    .footer-wrap{
        flex-direction: column;
    }
}