.menu-bar{
    background-color: #111111;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    border-bottom: 1px solid aliceblue;
}

.menu-bar-ul{
    display: flex;
    gap: 5em;
    padding: 2em;
}

.menu-bar-a{
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .menu-bar-ul{
        padding: 2em 0.8em;
        gap: 4em;
    }
}

@media screen and (max-width: 400px) {
    .menu-bar{
        font-size: 1.125em;
    }
    .menu-bar-ul{
        padding: 2em 0.8em;
        gap: 3.5em;
    }
}

@media screen and (max-width: 350px) {
    .menu-bar{
        font-size: 1.125em;
    }
    .menu-bar-ul{
        padding: 2em 0.7em;
        gap: 3em;
    }
}