.bod{
    background: #111111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 4em;
    gap: 4em;
}

@media screen and (max-width: 1200px) {
    .bod{
        grid-template-columns: 1fr 1fr;
    }
    .paintings-img{
        width: 400px;
    }
}

@media screen and (max-width: 780px) {
    .bod{
        grid-template-columns: 1fr;
    }
    .paintings-img{
        width: 400px;
    }
}